.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 50%;
  /* Set a fixed width and height to maintain the circle shape */
  width: 75px;
  height: 75px;
}

.box {
  /* Center text horizontally */
  text-align: center;
}

h1 {
  /* Remove default margin for h1 */
  margin: 0;
  padding-top: 19px;
}
